/* General HTML and Body */
html {
    scroll-behavior: smooth; /* Enables smooth scrolling */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px; /* Adjust this value based on your navbar height */
    background-color: #f0f0f0;
}

p {
    font-family: inherit; /* Ensures all <p> elements use the body's font */
}

/* Navbar */
/* Navbar */
.navbar {
    background-color: #333;
    padding: 20px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.2em;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
}

/* Hover effect */
.navbar-links li a:hover {
    background-color: #f0a500;
    color: #333;
}

/* Active state styling */
.navbar-links li a.active {
    color: #f0a500;
    background-color: #333; /* Dark background when active */
    font-weight: bold; /* Optionally make the text bold */
}

/* Mobile Navigation */
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    height: 4px;
    width: 30px;
    background-color: white;
    margin: 4px 0;
    transition: all 0.3s ease;
}

/* Burger icon animation */
.menu-icon.active .bar:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: top left;
}

.menu-icon.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-icon.active .bar:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: bottom left;
}

/* Mobile Navigation */
@media (max-width: 768px) {
    .navbar-links {
        flex-direction: column;
        position: absolute;
        background-color: #333;
        top: 50px;
        right: 0;
        width: 30%;
        padding: 60px;
        display: none;
        text-align: center;
        gap: 20px;
        z-index: 999;
        transition: transform 0.3s ease; /* Smooth slide-in effect */
        transform: translateY(-100%); /* Initially hidden */
    }

    .navbar-links.active {
        display: flex;
        transform: translateY(0); /* Slide-in effect */
    }

    .navbar-links li a {
        color: white;
        text-decoration: none;
        padding: 15px 20px;
        font-size: 1.2em;
        border-radius: 6px;
        transition: background-color 0.3s, color 0.3s;
    }

    .navbar-links li a:hover {
        background-color: #f0a500;
        color: #333;
    }

    /* Active (tap) effect for mobile */
    .navbar-links li a:active {
        background-color: #f0a500; /* Same as hover */
        color: #333; /* Same text color as hover */
        transform: scale(0.98); /* Slightly reduce size to indicate tap */
    }

    .navbar-links li a.active {
        background-color: #f0a500;
        color: #333;
    }

    .menu-icon {
        display: flex;
    }
}





.container {
    opacity: 0;
    transition: opacity 0.6s ease-out;
}


.container.visible {
    opacity: 1;
}


.container {
    transform: translateX(1px);  
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.container.visible {
    transform: translateY(0);  
}


.projects-container {
    opacity: 0;
    transition: opacity 0.6s ease-out; 
}

.projects-container.visible {
    opacity: 1;
}




.home-container {
    text-align: center;
    margin: 100px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.home-icon img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.home-container h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.home-container h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background-color: #f0a500;
    margin: 10px auto;
    border-radius: 2px;
}

.home-container h2 {
    color: #333;
}

/* Styling for social media icons */
.social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social a {
    display: inline-block;
}

.social img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.social img:hover, .social img:active {
    transform: scale(1.1); /* Slight zoom effect on hover or touch */
}

/* Mobile responsiveness */
@media screen and (max-width: 480px) {
    .social {
        gap: 15px; /* Reduced gap for smaller screens */
    }

    .social img {
        width: 40px;
        height: 40px;
    }
}



.cv-container,
.view-code {
    margin: 20px 0;
}

.cv-button,
.code-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s, transform 0.1s ease;
    font-size: 1.2em;
    text-align: center;
}

/* Hover effect for desktop */
.cv-button:hover,
.code-button:hover {
    background-color: #f0a500;
}

/* Active (pressed) effect for mobile */
.cv-button:active,
.code-button:active {
    background-color: #f0a500; /* Same as hover */
    transform: scale(0.98); /* Slightly reduce size to indicate tap */
}

/* Mobile-specific styles (Optional) */
@media (max-width: 768px) {
    .cv-button,
    .code-button {
        font-size: 1em; /* Slightly smaller button on mobile */
        padding: 8px 18px; /* Adjust padding for mobile view */
    }

    /* Active state for mobile (on tap) */
    .cv-button:active
    .view-code:active {
        background-color: #f0a500; /* Same as hover */
        transform: scale(0.98); /* Slightly reduce size to indicate tap */
    }
}



.about-container {
    text-align: center;
    margin: 100px auto;
    padding: 40px 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    border: 2px solid #ccc;
    max-width: 900px;
}

.about-container h1 {
    font-size: 2.8em;
    color: #2c3e50;
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.3;
}

.about-container h1::after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    margin: 15px auto 0;
    border-radius: 2px;
    background-color: #f0a500;
}


.about-img img {
    width: 250px; 
    height: 250px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin: 20px 0;
}


@media (max-width: 768px) {
    .about-img img {
        width: 200px; 
        height: 200px; /* Ensure the height is the same as the width for mobile */
    }
}


.about-description {
    text-align: center;
    padding: 20px;
}

.about-description h2 {
    font-size: 1.5em;
    color: #333;
    line-height: 1.6;
    margin: 10px 0;
}

@media (max-width: 600px) {
    .about-description h2 {
        font-size: 1.2em;
    }
}


.education-container {
    text-align: center;
    margin: 80px auto;
    padding: 40px 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    border: 2px solid #ccc;
    max-width: 900px;
}

.education-container h1 {
    font-size: 2.8em;
    color: #2c3e50;
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.3;
}

.education-container h1::after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    margin: 15px auto 0;
    border-radius: 2px;
    background-color: #f0a500;
}


.skills-container {
    text-align: center;
    margin: 100px auto;
    padding: 40px 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    border: 2px solid #ccc;
    max-width: 900px;
}

.skills-container h1 {
    font-size: 2.8em;
    color: #2c3e50;
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.3;
}

.skills-container h1::after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    margin: 15px auto 0;
    border-radius: 2px;
    background-color: #f0a500;
}

.skills-language {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.projects-section {
    text-align: center;
    margin: 100px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.projects-section h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}


.projects-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}


.project-card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 300px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    margin-bottom: 30px;
    flex: 1 1 30%; 
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card img {
    margin-bottom: 15px;
    border-radius: 50%;
}


.github-icon img {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.github-icon:hover img {
    filter: grayscale(0%);
}

.project-card p {
    font-size: 0.9rem;
    color: #555;
    margin-top: 15px;
}


@media screen and (max-width: 768px) {
    .projects-list {
        justify-content: center; 
        gap: 15px;
    }

    .project-card {
        max-width: 90%; 
    }

    .projects-section h1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .projects-section {
        padding: 15px;
    }

    .projects-section h1 {
        font-size: 1.2rem;
    }

    .project-card {
        max-width: 100%;
        padding: 15px;
    }
    .project-card.hover {
        transform: scale(1.05); /* Same hover effect as in :hover */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Same hover effect */
    }
    

    .github-icon img {
        width: 40px;
    }
}

.contacts-container {
    text-align: center;
    margin: 100px auto;
    padding: 40px 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    border: 2px solid #ccc;
    max-width: 900px;
}

.contacts-container h1 {
    font-size: 2.8em;
    color: #2c3e50;
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.3;
}

.contacts-container h1::after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    margin: 15px auto 0;
    border-radius: 2px;
    background-color: #f0a500;
}

.message {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.message h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.message label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

.message input[type="text"],
.message input[type="email"],
.message textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.message input[type="text"]:focus,
.message input[type="email"]:focus,
.message textarea:focus {
    outline: none;
    border-color: #f0a500;
}

.message button {
    background-color: #333;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.message button:hover {
    background-color: #f0a500;
}

@media (max-width: 768px) {
    .message {
        padding: 15px;
        margin: 0 10px;
    }

    .message h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .message label {
        font-size: 14px;
    }

    .message input[type="text"],
    .message input[type="email"],
    .message textarea {
        font-size: 14px;
        padding: 8px;
    }

    .message input[type="text"]:focus,
    .message input[type="email"]:focus,
    .message textarea:focus {
        border-color: #0056b3;
    }

    .message button {
        font-size: 16px;
        padding: 12px 0;
    }

    .message input[type="text"],
    .message input[type="email"],
    .message textarea {
        margin: 8px 0 12px 0;
    }

    .message {
        text-align: center;
    }
}
.message button:active {
    background-color: #f0a500;
}
